.symbol1{
position:fixed;
bottom:0;
left:0;
}

.symbol2{
    position:fixed;
    bottom:0;
    right:0;
}
.whatappform {
   margin-left: 70%;
   margin-bottom: 10%;
   position:fixed;
   bottom:0;
  
   

}

@media only screen and (max-width: 600px) {
    .symbol1{
        position:fixed;
        bottom:0;
        left:0;
        }
        
        .symbol2{
            position:fixed;
            bottom:0;
            right:0;
        }

        .whatappform {
            margin-left: 10%;
            margin-bottom: 30%;
            position:fixed;
            bottom:0;
            
         
         }
         
  }